.head{
  background-image: url(./images/sautisol.png);
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.head:hover{
  background-image: url(./images/Sauti-Sol.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}
h2 {
  font-family: 'Limelight', cursive;
  padding: 60px;
  text-align: center;
  font-size: 40px;
  letter-spacing: 6px;

}
h3{
  font-family: 'Orelega One', cursive;
  letter-spacing: 2px;

}
p{
  font-family: font-family: 'Montserrat', sans-serif;

}
p, li{
  font-family: font-family: 'Montserrat', sans-serif;
}
.intro {
  /* width: 50%; */
  text-align: center;
  


}
.descimg{
  width: 700px;
  height: 700px;
  margin: 0 auto;

}
.description{
  text-align: center;
}

